<mtapp:setting
  id="user_token"
  label="<__trans phrase="User Token">"
  hint="You can see your User Token on <a href="https://wovn.io" target="_blank">WOVN.io</a>."
  show_hint="1">
<input type="text" class="text short" name="user_token" value="<mt:var name="user_token">" />
</mtapp:setting>

